* {
  box-sizing: border-box;
  font-family: sans-serif;
  margin: 0;
}

h1 {
	text-align: center;
	font-size: 1.75em;
}



/*backgroud color we're using #F5F5DC;*/

/*.container {
	padding: 30px;
	border: 1px solid green;
}*/

.title {
	border: 1px solid black;
	width: 20%;
	float: right;
	font-size: 1.25em;
	overflow: hidden;
}


@media (min-width: 992px) {
  .col-lg-4 {
	  float: left;
	  border: 0;
		width: 33.33%;
		padding: 10px;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  .col-md-6 {
	  float: left; 
	  border: 0;
	  width: 50%;
	  padding: 10px;
	}  
	.col-md-12 {
		float: left; 
	  border: 0;
	  width: 100%;
	  padding: 10px;
	}
}
@media (max-width: 767px) {
  .col-lg-1 {
	  float: left;
	  border: 0;
		width: 100%;
		padding: 10px;
   }
}

#Tagliatelle {
	background-color: #F0E68C;
}

#Rigatoni {
	background-color: #E5C49B;
}

#Gnocchi {
	background-color: #F4E0C2;
}

.item {
	background-color: #F5F5DC;
	height: 1.5em;
	border-top: 1px solid black;
	border-right: 1px solid black;
	border-left: 1px solid black;
}

p {
	background-color: #F5F5DC;
	border-bottom: 1px solid black;
	border-right: 1px solid black;
	border-left: 1px solid black;
}